<h1>Add a Recipe</h1>

<form action="/recipe_add" method="post">
  <div class="form-group">
    <label for="name">Recipe Name:</label>
    <input name="name" id="name" type="text"><br><br>
    <label for="ingredients">List Ingredients:</label>
    <TEXTAREA NAME="ingredients" ROWS=5 COLS=30></TEXTAREA><br><br>
    <label for="instructions">Instructions:</label>
    <TEXTAREA NAME="instructions" ROWS=5 COLS=30></TEXTAREA><br><br>
    <label for="rating">Rating:</label>
    <input name="rating" value="NA" id="rating" type="text"><br><br>
  </div>
    <button type="submit" class="btn btn-success">Add Recipe</button>
</form>

<br><br>
<h4>These are all the recipes</h4>
<ul>
  <% @recipes.each() do |recipe| %>
  <li><a href="/recipe/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ul>

<!-- <div class="rating">
  <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
  <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
  <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
  <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
  <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
</div>



<div class="rating">
  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> -->


<!--
<div class="stars">
  <form action="">
    <input class="star star-5" id="star-5" type="radio" name="star"/>
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star"/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star"/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star"/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star"/>
    <label class="star star-1" for="star-1"></label>
  </form>
</div> -->


<span class="rating">
  <input type="radio" class="rating-input"
  id="rating-input-1-5" name="rating-input-1">
  <label for="rating-input-1-5" class="rating-star"></label>
  <input type="radio" class="rating-input"
  id="rating-input-1-4" name="rating-input-1">
  <label for="rating-input-1-4" class="rating-star"></label>
  <input type="radio" class="rating-input"
  id="rating-input-1-3" name="rating-input-1">
  <label for="rating-input-1-3" class="rating-star"></label>
  <input type="radio" class="rating-input"
  id="rating-input-1-2" name="rating-input-1">
  <label for="rating-input-1-2" class="rating-star"></label>
  <input type="radio" class="rating-input"
  id="rating-input-1-1" name="rating-input-1">
  <label for="rating-input-1-1" class="rating-star"></label>
</span>
